@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9AEBA3, #DAFDBA)
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #0120309c;
}

h1 {
    color: #45C4B0;
    text-align: center;
    text-shadow: 1px 1px 2px #0120309c;
}

h2 {
    color: #012030;
}

p {
    text-align: justify;
}